{% extends 'pelanggan/layout.html' %}
{% block content %}
<div class="container mt-4">
  <h3>Riwayat Pemesanan</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Menu</th>
        <th>Jumlah</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for r in riwayat %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>
          {% if r[3] == 'menunggu' %}
          <a href="{{ url_for('upload_bukti', id_pesanan=r[0]) }}" class="btn btn-sm btn-warning">Upload Bukti</a>
          {% else %}
          <span>-</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
